[submodule "spec/rubyspec"]
	path = spec/rubyspec
	url = https://github.com/ruby/rubyspec.git
[submodule "test/cruby"]
	path = test/cruby
	url = https://github.com/ruby/ruby.git
	branch = ruby_2_2
[submodule "spec/stdlib/rubysl-bigdecimal"]
	path = spec/stdlib/rubysl-bigdecimal
	url = https://github.com/rubysl/rubysl-bigdecimal
