.DS_Store
*.gem
.yardoc
.bundle
Gemfile.lock
Gemfile.local
build/
/.github_access_token
/cdn
node_modules
/gh-pages
/tmp
.ruby-gemset
.ruby-version
.rvmrc
.rspec-local
/coverage
.owl_cache
npm/*.tgz
npm/opal*.js
npm/parser*.js
npm/*.js.map
package-lock.json

# Ignore old submodules, useful when switching branches
spec/corelib
spec/rubyspec
*~
