<% n = 1 %>
<% @items.each do |item| %>
  <li class="r<%= n %> <%= item.respond_to?(:has_tag?) && item.has_tag?(:deprecated) ? 'deprecated' : '' %>">
    <%= linkify item, h(item.name) %>
    <% if item.respond_to? :namespace %><small><%= item.namespace.title if item.namespace %></small><% end %>
  </li>
  <% n = n == 2 ? 1 : 2 %>
<% end %>
