body {
  line-height: 22px;
  font-size: 14px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

.content {
  padding: 50px 50px 50px 50px;
  width: 650px;
}

p {
  width: 650px;
}

pre, code {
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
}

pre {
  line-height: 17px;
  color: #444444;
  white-space: pre;
  padding: 3px 0px 3px 12px;
  margin: 0px 0px 8px;

  background: #FAFAFA;
  -webkit-box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
}

code {
  background-color: #FAFAFA;
  padding: 1px;
  color: #444444;
  border: 1px solid #DEDEDE;
}

pre code {
  border: none;
  padding: 0px;
}

a {
  color: #212121;
}