<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Opal Spec Runner</title>
    <%= javascript_include_tag 'opal-spec-runner' %>
    <%= javascript_include_tag *spec_files %>
  <style>
    body { font-family: sans-serif; }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
